venv/
.venv/
__pycache__/
*.py[cod]
*$py.class

data-science/Ejemplo_carga_modelo/venv/

target/
!.mvn/wrapper/maven-wrapper.jar
build/
.apt_generated
.classpath
.factorypath
.project
.settings

.idea/
.vscode/
*.swp
*.iml
*.iws

data/
*.log
.DS_Store

.env

